body {
    padding: 20px;
}

.pitch-logo-div {
    text-align: center;
}

.pitch-logo-image {
    width: 360px;
}

.container {
    text-align: center;
}

#c {
    border: 2px solid black;
}

#design-container {
    padding: 40px 20px 0px 20px;
    text-align: center !important;
}

.canvas-container {
    margin: 0 auto;
}

#tools-container {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    padding: 30px 20px 0px 20px;
}

#ellipsis {
    font-size: 30px;
    margin: 40px;
}

#preview-button {
    width: 250px;
    height: 40px;
    box-shadow: 2px 2px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Special Elite', cursive;
    font-weight: 700;
    font-size: 25px;
    padding-top: 5px;
    background-color: darkgray;
    letter-spacing: 1px;
    
}

#chosen-cup-colour {
    width: 130px;
    box-shadow: 2px 2px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Special Elite', cursive;
    font-weight: 700;
    padding-top: 5px;
    background-color: darkgray;
    letter-spacing: 2px;
    text-align: center;
}

#custom_user_file {
    box-shadow: 2px 2px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Special Elite', cursive;
    font-weight: 700;
    padding: 5px 20px 2px 20px;
    background-color: darkgray;
    letter-spacing: 1px;
    text-align: center;
}

input[type="file"] {
    display: none;
}

.preview-container {
    visibility: hidden;
}

.close-button {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: block;
    position: fixed;
    top: 1%;
    right: 3%;
    background-color: red;
    z-index: 15;
}
